body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f8f9fa 0%, #e0f7fa 100%);
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #17a2b8; /* Bleu turquoise pour tous les titres */
}

header, footer {
    background-color: #17a2b8;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    margin-right: 15px;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #17a2b8;
    background-color: #e0f7fa; /* Couleur turquoise au survol */
}

.navbar-light .navbar-nav .active {
    color: #17a2b8;
    background-color: #e0f7fa; /* Couleur turquoise pour les liens actifs */
}

.navbar-toggler-icon {
    background-color: #fff;
}

.social-icon {
    margin-right: 20px;
    color: #fff;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #95d2db; /* Turquoise clair au survol */
}

html {
    scroll-behavior: smooth;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; /* Animation adoucie à 2 secondes */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.genealogy-header, #genealogy-tree {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Styling for the family tree */
#genealogy-tree {
    display: flex;
    justify-content: center;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree ul {
    padding-top: 20px; 
    position: relative;
    transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%; 
    height: 20px;
}

.tree li::after {
    right: auto; 
    left: 50%;
    border-left: 2px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute; 
    top: 0; 
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0; 
    height: 20px;
}

.tree li a {
    border: 2px solid #17a2b8;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s;
}

.tree li a:hover, .tree li a:hover+ul li a {
    background: #17a2b8;
    color: #fff;
    border: 2px solid #17a2b8;
}

#member-details {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
    margin-bottom: 3%;
}

/* Footer Styles */
footer {
    background: linear-gradient(90deg, #17a2b8, #138f9a); /* Dégradé turquoise pour le footer */
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    color: #fff;
}

footer .social-icons a {
    font-size: 1.25rem;
    margin-right: 20px;
    color: #fff;
    transition: color 0.3s;
}

footer .social-icons a:last-child {
    margin-right: 0;
}

footer .social-icons a:hover {
    color: #95d2db; /* Turquoise clair au survol */
}

/* Style du Footer pour petits écrans */
@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px 0;
        background: linear-gradient(90deg, #17a2b8, #138f9a); /* Dégradé turquoise pour le footer */
    }

    footer p {
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    footer .fab {
        font-size: 1.2rem;
        margin: 0 10px;
    }

    footer .social-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    footer .social-icons .fab {
        margin: 0 10px;
        color: #fff;
        transition: color 0.3s;
    }

    footer .social-icons .fab:hover {
        color: #95d2db; /* Turquoise clair au survol */
    }
}

/* General responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.6rem; /* Adjusted from 2.5rem */
    }

    h2 {
        font-size: 1.4rem; /* Adjusted from 2rem */
    }

    h3 {
        font-size: 1.5rem; /* Adjusted from 1.75rem */
    }

    h4, h5, h6 {
        font-size: 1.25rem; /* Slightly smaller */
    }

    p, .blog-post-meta {
        font-size: 0.9rem; /* Adjusted for smaller screens */
    }

    .lead {
        font-size: 1rem; /* Adjusted for smaller screens */
    }

    .navbar-brand, .nav-link {
        font-size: 1rem; /* Adjusted for better navigation on small screens */
    }

    .btn {
        font-size: 0.875rem; /* Smaller button text */
    }
}

/* Masquer l'accordéon par défaut et afficher l'arbre hiérarchique sur les grands écrans */
#accordion-tree {
    display: none;
}

#hierarchical-tree {
    display: block;
    margin-bottom: 6%;
}

/* Styles spécifiques pour l'accordéon sur petit écran */
@media (max-width: 768px) {

    .hidden-link {
        display: none;
    }
    
    #hierarchical-tree {
        display: none;
    }

    #accordion-tree {
        display: block;
        margin-bottom: 40%;
    }

    .accordion {
        border: 1px solid #17a2b8;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .accordion-item {
        border-bottom: 1px solid #17a2b8;
    }

    .accordion-header {
        background-color: #fff;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        color: #17a2b8;
        border: none;
        text-align: left;
        width: 100%;
    }

    .accordion-body {
        padding: 10px;
        display: none;
    }

    .accordion-body.active {
        display: block;
        border-top: 1px solid #17a2b8;
    }

    #member-details {
        margin-top: 20px;
        padding: 15px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: block;
    }
}

